:root {
  --main-color: #F0F0F1;
  --nav-bg-color: rgba(3, 3, 3, 0.5);
  --nav-link-color: #f2f2f2;
  --nav-link-hover-bg-color: #ddd;
  --title-color: #fff;
  --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}


body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat, repeat;
  position: absolute;
  font-family: 'Inter', sans-serif;
  background-image: url(logInlogo.png);
  background-size: 60%;
  background-color: var(--main-color);
  
}

/*slider*/

.slide-container{
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.image-slider{
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.slides-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 240px;
  transition: .5s;
  filter: saturate(10%);
}

.button{
  position: absolute;
  width: 231px;
  height: 231px;
  margin-bottom: 10px;
  margin-right: 5px;
  transition: .5s;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.button:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
  width: 380px;
  height: 380px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
  width: 380px;
  height: 380px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
  width: 380px;
  height: 380px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
  width: 380px;
  height: 380px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
  width: 380px;
  height: 380px;
  background-color: transparent;
  filter: saturate(100%);
}

/* image position */

#slider-span1:target ~ .image-slider {left: 30%;}
#slider-span2:target ~ .image-slider {left: 15%;}

#slider-span4:target ~ .image-slider {left: -15%;}
#slider-span5:target ~ .image-slider {left: -30%;}








/*Page 1 logo undsen logo*/
.logo {
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding-left: 40%;
}


/*facebook logo*/

.icon {
  float: right;
  padding-top: 8px;
  position: relative;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
}


/*instagram logo*/

.icon1 {
  float: right;
  position: relative;
  padding-top: 8px;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 8px;
}


/*Youtube logo*/

.icon2 {
  float: right;
  position: relative;
  padding-right: 30px;
  padding-top: 8px;
  width: 30px;
  height: 30px;
  top: 15px;
}


/*icons mouse event scale */

.icon:hover, .icon1:hover, .icon2:hover {
  transform: scale(1.2);
}




/*Menu design*/

.topnav {
  margin: auto;
  width: 100%;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: center;
}

.topnav a {
  color: var(--nav-link-color);
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--nav-link-hover-bg-color);
  color: black;
}


button {
  position: static;
  margin: 20px;
  float: left;
  padding: 10px 20px;
  background-color: var(--nav-bg-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}



/* мобайл хөтөчийн хэсгийг харуулах */

@media only screen and (max-width: 991px) {
  body {
      background-color: #aaa;
  }
  h1 {
      color: blue;
  }
} 



/*
english-course-chooser {
  padding: 20%;
}
english-course-chooser label {
  display: block;
  margin-bottom: 10px;
}


english-course-chooser select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}


english-course-chooser button {
  background-color: var(--nav-bg-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


english-course-chooser button:hover {
  background-color: black;
}


english-course-chooser form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

/* Footer styling */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}
