@import url("CustomProperty.css");

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-main);
    background-image: url(logInlogo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    font-family: 'Inter', sans-serif;
}


/*slider*/

.slide-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 85vh;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    transition: .7s;
}

.slides-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slide {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

.slide-content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
}

.slide-content p {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.active-slide {
    display: block;
}

.course-info {
    display: none;
}

.active-course {
    display: block;
}

.course-info h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.course-info p {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.course-info button {
    padding: 1rem 2rem;
    background-color: #d35400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: white;
}

.course-info button:hover {
    background-color: #e67e22;
}


.slide-container {
    display: flex;
    align-items: center;
    position: relative; /* add position relative to parent */;
    overflow: hidden;
    width: 100%;
    height: 85vh;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    transition: .7s;
}

.slides-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-div img {
    max-width: 100%;
    height: auto;
}

.course-info {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute; /* add position absolute */;
    bottom: 0; /* position at the bottom */;
    width: 100%;
    padding: 20px;
    background-color: white;
}


.image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    transition: .7s;
}


.img{
    filter: saturate(10%);
    position: relative;
    width: 240px;
    height: 240px;
    transition: .5s;
}

.button{
    /*background-color: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    width: 231px;
    height: 231px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: .5s;
    border-radius: 10px;
}

/*.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}*/
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#slider-span1:target ~ .image-slider #button-1{
    filter: saturate(100%);
    width: 380px;
    height: 380px;
    background-color: transparent;
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    filter: saturate(100%);
    width: 380px;
    height: 380px;
    background-color: transparent;
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    filter: saturate(100%);
    width: 380px;
    height: 380px;
    background-color: transparent;
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    filter: saturate(100%);
    width: 380px;
    height: 380px;
    background-color: transparent;
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    filter: saturate(100%);
    width: 380px;
    height: 380px;
    background-color: transparent;
}

/* image position */

#slider-span1:target ~ .image-slider {left: 30%;}
#slider-span2:target ~ .image-slider {left: 15%;}

#slider-span4:target ~ .image-slider {left: -15%;}
#slider-span5:target ~ .image-slider {left: -30%;}



/*Page 1 logo undsen logo*/
.logo {
    display: inline-block;
    height: var(--size-logo);
    margin: 0 auto;
    filter: brightness(50%);
}


/*social media icon*/
svg {
    display: flex;
    align-items: center;
    float: right;
    opacity: var(--opacity-icon);
    width: var(--size-social-icon);
    height: var(--size-social-icon);
    padding: 5px;
} 

/*icons mouse event scale */
.icons:hover{
    transform: var(--transform-svg);
}

/* Navigation */

.header {
    display: flex;
}

/* Navigation */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-nav-bg);
    list-style-type: none;
  }
  
.menu li {
    flex-grow: 1;
    float: left;
  }
  
.menu li a {
    display: block;
    padding: 14px 16px;
    color: var(--color-title);
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--color-nav-hover-bg);
    color: var(--color-title);
}

.menu li.icon {
    display: none;
    flex-grow: 0;
    margin-left: auto;
  }
  
  /* Add styles for the menu toggle button */
.menu-toggle {
    display: none;
    position: absolute;
    padding: 10px;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: black;
  }

  /* Show the menu when the button is clicked */
.menu.active {
    display: none;
  }


/*Button*/
.button-link {
    position: static;
    float: left;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--color-nav-bg);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--color-title);
    text-decoration: none;
}

.button-link:hover {
    background-color: var(--color-nav-hover-bg);
}


/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* or position: absolute; */;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 40px;
    background-color: var(--color-bg-2);
    color: var(--color-title);
}

.footer1 {
    margin-left: 100px;
}

.footer2 {
    margin-right: 100px;
}

footer p {
    margin: 0;
    font-size: 18px;
}

footer svg {
    width: var(--size-footer-svg);
    height: var(--size-footer-svg);
    margin-right: 5px;
    margin-left: 5px;
}

footer svg:hover{
    transform: var(--transform-svg); /*Хулгана очиход 1.2 дахин томорно*/;
}

/* мобайл хөтөчийн хэсгийг харуулах */

@media (max-width: 767px) {

.container {
    margin: 20px;
        }
    
.header{
    padding-bottom: 400px;
        }
      
        /* Logo */
.logo img {
    width: 100%;
        }
      
        /* Navigation menu */
.menu {
    display: none;
          }
        
.menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
          }
        
.menu li {
    flex-grow: 0;
    width: 100%;
          }
        
.menu li a {
    padding: 10px 0;
          }
        
.menu li.icon {
    display: block;
          }
.menu-toggle{
    display: block;
        }
          

.footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 10px;
          }
        
    .footer1,
.footer2 {
    margin: 0;
    padding: 0;
          }
        
footer p {
    font-size: 14px;
          }
        
footer svg {
    width: 25px;
    height: 25px;
          }

    }