/*Custom property*/
:root {
    --color-main: #F0F0F1; /*Үндсэн өнгө*/;
    --color-nav-bg: rgba(3, 3, 3, 0.5); /*Навигац дэвсгэр өнгө*/;
    --color-nav-hover-bg: #111;
    --color-nav-link: #f2f2f2; /*Навигац холбоосын өнгө*/;
    --color-nav-link-hover-bg: #ddd; /*Навигац холбоосын дэвсгэр өнгө*/;
    --color-title: #fff; /*Гарчгийн өнгө*/;
    --color-bg-2: #282B32;
    --color-bg-why-us: rgb(255, 201, 86);

    --shadow-title: 5px 10px 15px rgba(0, 0, 0, 0.9); /*Гарчгийн сүүдэр*/;

    --size-logo: 75px;
    --size-social-icon: 30px;
    --size-contact-icon: 40px;
    --size-footer-svg: 45px;

    --height-logo: 75px;

    --transform-svg: scale(1.2);

    --font-why-us: "Helvetica";
    
    --opacity-icon: 55%;
}