@import url("CustomProperty.css");

* {
    margin: 0px;
    padding: 0px;
}

/* Body Background */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    background-image: url(logInlogo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    font-family: 'Inter', sans-serif;
}


/*Page 1 logo undsen logo*/
.logo {
    display: inline-block;
    height: 75px;
    margin: 0 auto;
}


/*social media icon*/
svg {
    display: flex;
    align-items: center;
    float: right;
    width: 30px;
    height: 30px;
    padding: 5px;
} 

/*Icons mouse event scale*/
svg:hover{
    transform: scale(1.2); /*Хулгана очиход 1.2 дахин томорно*/;
}

/*Menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--nav-bg-color);
    list-style-type: none;
  }
  
.menu li {
    flex-grow: 1;
    float: left;
  }
  
.menu li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
.menu li a:hover {
    background-color: #111;
    color: white;
  }
  
.menu li.icon {
    display: none;
    flex-grow: 0;
    margin-left: auto;
  }
  
  /* Add styles for the menu toggle button */
.menu-toggle {
    display: none;
    position: absolute;
    padding: 10px;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: black;
  }

  /* Show the menu when the button is clicked */
.menu.active {
    display: none;
  }


h2 {
    margin-top: 35px;
    color: #111;
    text-align: center;
}
/* Free lessons design */
.box {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 50px;
}
.freelesson {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}


section {
    position: relative;
    padding: 120px;
    border-bottom: 1px solid #ccc;
}

/*button*/
.button-link {
    position: static;
    float: left;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--nav-bg-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.button-link:hover {
    background-color: black;
}


/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* or position: absolute; */;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 20px;
    background-color: #282B32;
    color: #fff;
}

.footer1 {
    margin-left: 100px;
}

.footer2 {
    margin-right: 100px;
}

footer p {
    margin: 0;
    font-size: 18px;
}

.footer-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 767px) {

body{
        height: 100%;
        background-size: cover;
    }

.container {
        margin: 20px;
        }
    
.header{
        padding-bottom: 400px;
        }
      
        /* Logo */
.logo img {
        width: 100%;
        }
      
        /* Navigation menu */
.menu {
        display: none;
          }
        
.menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
          }
        
.menu li {
        flex-grow: 0;
        width: 100%;
          }
        
.menu li a {
        padding: 10px 0;
          }
        
.menu li.icon {
        display: block;
          }
.menu-toggle{
            display: block;
        }
          

.footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        padding: 10px;
          }
        
    .footer1,
.footer2 {
        margin: 0;
        padding: 0;
          }
        
footer p {
        font-size: 14px;
          }
        
footer svg {
        width: 25px;
        height: 25px;
          }

    }
