* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #F0F0F1;
    --nav-bg-color: rgba(3, 3, 3, 0.5);
    --nav-link-color: #f2f2f2;
    --nav-link-hover-bg-color: #ddd;
    --title-color: #fff;
    --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}
/* Body Background */
body {
    position: absolute;
    width: 100%;
    background-color: var(--main-color);
    background-image: url(logInlogo.png);
    background-repeat: no-repeat, repeat;
    background-size: 60%;
    font-family: 'Inter', sans-serif;
}


/*Page 1 logo undsen logo*/
.logo {
    display: inline-block;
    height: 75px;
    margin: 0 auto;
}


/*social media icon*/
.icons {
    display: flex;
    align-items: center;
    float: right;
    width: 30px;
    height: 30px;
    padding: 5px;
} 

/*icons mouse event scale */
.icons:hover{
    transform: scale(1.2);
}

/*Menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--nav-bg-color);
    list-style-type: none;
}

.menu li {
    flex-grow: 1;
    float: left;
}

.menu li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
    color: white;
}

.menu li.icon {
    display: none;
    flex-grow: 0;
    margin-left: auto;
}

@media screen and (max-width: 750px) {
}
.menu li:not(:first-child) {
    display: none;
}
.menu li:first-child {
    text-align: right;
}

.menu li.icon {
    display: block;
    float: right;
}

.menu.responsive {
    position: relative;
    text-align: right;
}

.menu.responsive li.icon {
    position: absolute;
    top: 0;
    right: 0;
}

.menu.responsive li {
    display: block;
    float: none;
    text-align: right;
}
.menu.responsive li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: right;
}

h2 {
    padding: 50px 0px 0px 100px;
    color: #111;
    text-align: center;
}
/* Free lessons design */
.box {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 50px;
}
.box h3 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}


section {
    position: relative;
    padding: 120px;
    border-bottom: 1px solid #ccc;
}

button {
    position: static;
    float: left;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--nav-bg-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: black;
}


/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 3px;
    padding: 20px;
    background-color: #282B32;
    color: #fff;
}

.footer1 {
    margin-left: 100px;
}

.footer2 {
    margin-right: 100px;
}

footer p {
    margin: 0;
    font-size: 18px;
}

.footer-icon {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-left: 5px;
}
