* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #F0F0F1;
    --nav-bg-color: rgba(3, 3, 3, 0.5);
    --nav-link-color: #f2f2f2;
    --nav-link-hover-bg-color: #ddd;
    --title-color: #fff;
    --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}


/*Page 1 logo undsem logo*/

.logo {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    padding-left: 515px;
}


/*facebook logo*/

.icon {
    float: right;
    padding-top: 8px;
    position: relative;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
}


/*instagram logo*/

.icon1 {
    float: right;
    position: relative;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 8px;
}


/*Youtube logo*/

.icon2 {
    float: right;
    position: relative;
    padding-right: 30px;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    top: 15px;
}


/*icons mouse event scale */

.icon:hover,.icon1:hover,.icon2:hover {
    transform: scale(1.2);
}


body {
    background-repeat: no-repeat, repeat;
    position: absolute;
    font-family: 'Inter', sans-serif;
    background-image: url(logInlogo.png);
    background-size: 80%;
    background-color: var(--main-color);
    width: 100%;
}


/*Menu design*/

.topnav {
    margin: auto;
    width: 100%;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
}

.topnav a {
    color: var(--nav-link-color);
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 17px;
}


/*Menu design mouse event*/

.topnav a:hover {
    background-color: var(--nav-link-hover-bg-color);
    color: black;
}


/*Section class about us design*/

section {
    position: relative;
    padding: 120px;
    border-bottom: 1px solid #ccc;
}

button {
    position: static;
    margin: 20px;
    float: left;
    padding: 10px 20px;
    background-color: var(--nav-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}



@media only screen and (max-width: 991px) {
    body {
        background-color: #aaa;
    }
    h1 {
        color: blue;
    }
} 

 /* Footer styling */
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 1.2rem;
  }
  