body {
  float: right;
  margin: 0;
  padding-right: 300px;
  font-family: 'Inter', sans-serif;
  background-color:rgb(253, 253, 253);
  background-image: url(logInlogo.png);
  background-size:  contain;
  background-repeat: no-repeat;
}

.back {
  background-color: grey;
  border-radius: 5%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-left: -900px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: black;
  margin: 0 0 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    color: black;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

p {
  margin-top: 20px;
}

.account{
  color: black;
}

.sign{
  color: #007bff;
}

a{
  position: absolute;
  float: right;
  padding: 20px;
}
