body {
    float: right;
    margin: 0;
    padding-right: 300px;
    background-color:rgb(253, 253, 253);
    background-image: url(logInlogo.png);
    background-repeat: no-repeat;
    background-size:  contain;
    font-family: 'Inter', sans-serif;
}

.back {
    display:block;
    position: absolute;
    float: right;
    left: 0;
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: grey;
    border-radius: 5%;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0 0 20px 0;
    color: black;
}

form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

label {
    font-weight: bold;
    color: black;
}

input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #0069d9;
}

p {
    margin-top: 20px;
}

.account{
    color: black;
}

.sign{
    color: #007bff;
}

a{
    position: absolute;
    float: right;
    padding: 20px;
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 600px) {
    body {
        float: none;
        padding-right: 0;
        background-size: 220%;
    }

    .back {
        margin-left: 0;
    }

    .container {
        margin-top: 200px;
        height: auto;
        padding: 20px;
    }

    form {
        padding: 20px;
    }

    input, button {
        width: 100%;
    }

    a {
        position: static;
        float: none;
        padding: 0;
        margin-top: 10px;
    }
}
