/*Бүх элементүүдэд*/
* {
  margin: 0px;
  padding: 0px;
}
html,body{
  height: 100%;
}
:root {
  --main-color: #F0F0F1;
  --nav-bg-color: rgba(3, 3, 3, 0.5);
  --nav-link-color: #f2f2f2;
  --nav-link-hover-bg-color: #ddd;
  --title-color: #fff;
  --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}

/* Body Background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-image: url(logInlogo.png);
  background-size: 60%;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}



/*Үндсэн лого*/
.logo {
display: inline-block;
margin: 0 auto;
height: 75px; 
}


/*Сошиал медиа icon*/
.icons {
width: 30px;
height: 30px;
float: right;
display: flex;
align-items: center;  
padding: 5px;  
} 

/*Icons mouse event scale*/
.icons:hover{
transform: scale(1.2); /*Хулгана очиход 1.2 дахин томорно*/
}

/* Navigation */
.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
}

.menu li {
  float: left; 
  flex-grow: 1;
}

.menu li a {
  padding: 14px 16px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu li a:hover {
  color: white;
  background-color: #111;
}

.menu li.icon {
  flex-grow: 0;
  display: none;
  margin-left: auto;
}

@media screen and (max-width: 750px) {
  .menu li:not(:first-child) {
    display: none;
  }
  .menu li:first-child {
    text-align: right;
  }

  .menu li.icon {
    float: right;
    display: block;
  }

  .menu.responsive {
    position: relative;
    text-align: right;
  }

  .menu.responsive li.icon {
    top: 0;
    right: 0;
    position: absolute;
  }

  .menu.responsive li {
    float: none;
    display: block;
    text-align: right;
  }
  .menu.responsive li a {
    width: 100%; 
    padding: 10px; 
    display: block; 
    text-align: right;
  }
}


/*Section class about us design*/

section {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.image-grid img {
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  height: 200px;
  width: 200px;
}

.image-grid img:hover {
  transform: scale(1.1);
}


/*button*/
button {
  position: static;
  margin: 20px;
  float: left;
  padding: 10px 20px;
  background-color: var(--nav-bg-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}


/* Footer styling */
footer {
  background-color: #282B32;
  color: #fff;
  padding: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.footer1 {
  margin-left: 100px;
}

.footer2 {
  margin-right: 100px;
}

footer p {
  margin: 0;
  font-size: 18px;
}

.footer-icon {
  margin-left: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
