* {
  box-sizing: border-box;
}

body {
  background-color: azure;
  font-family: 'Inter', sans-serif;
  background-image: url(Pictures/loginlogo.png);
  background-size:50%;
  background-repeat: no-repeat;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #1E90FF;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #007FFF;
}

label:hover {
  color: #1E90FF;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(30, 144, 255, 0.5);
}

input:invalid {
  background-color: #FFE5E5;
  border:1px solid antiquewhite;
}

input[type="submit"]:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
