* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    background-image: url(loginlogo.png);
    background-repeat: no-repeat;
    background-size:50%;
    font-family: 'Inter', sans-serif;
}

.container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1E90FF;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
}

input[type="submit"]:hover {
    background-color: #007FFF;
}

label:hover {
    color: #1E90FF;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(30, 144, 255, 0.5);
}

input:invalid {
    background-color: #FFE5E5;
    border:1px solid antiquewhite;
}

input[type="submit"]:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}
