* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #F0F0F1;
    --nav-bg-color: rgba(3, 3, 3, 0.5);
    --nav-link-color: #f2f2f2;
    --nav-link-hover-bg-color: #ddd;
    --title-color: #fff;
    --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}


/*Page1 background*/

header {
    background-image: url('page1background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--main-color);
    padding-bottom: 700px;
}


/*Page 1 logo undsem logo*/

.logo {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    padding-left: 515px;
}


/*facebook logo*/

.icon {
    float: right;
    padding-top: 10px;
    position: relative;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
}


/*instagram logo*/

.icon1 {
    float: right;
    position: relative;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 8px;
}


/*Youtube logo*/

.icon2 {
    float: right;
    position: relative;
    padding-right: 30px;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    top: 15px;
}


/*icons mouse event scale */

.icon:hover, .icon1:hover, .icon2:hover{
    transform: scale(1.2);
}


body {
    background-repeat: no-repeat, repeat;
    position: absolute;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-color);
}


/*Menu design*/

.topnav {
    margin: auto;
    width: 100%;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
}

.topnav a {
    color: var(--nav-link-color);
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 17px;
}


/*Menu design mouse event*/

.topnav a:hover {
    background-color: var(--nav-link-hover-bg-color);
    color: black;
}


/*Winner's course taxt design*/

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 548px;
    height: 230px;
    line-height: 85px;
    text-align: center;
    color: var(--title-color);
    text-shadow: var(--title-text-shadow);
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Winner's course font design*/

div h1 {
    font-style: italic;
    font-weight: lighter;
    font-size: 100px;
}


/*About us section*/

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
  background-color: beige;
}

.aboutUs h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.aboutUs p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.aboutUs img {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

  
  

/* team member section */
  
  .team {
    position: relative;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color:azure;
  }
  
  .team .titlee {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .team p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .team ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team li {
    font-size: 24px;
    margin: 0 20px;
  }
  
  .team li:first-child {
    margin-left: 0;
  }
  
  .team li:last-child {
    margin-right: 0;
  }

  .team p{
    position: relative;

  }

  /*Button*/
button {
    position: static;
    margin: 20px;
    float: left;
    padding: 10px 20px;
    background-color: var(--nav-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

  /* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 1.2rem;
  }
  
  /* мобайл хөтөчийн хэсгийг харуулах */

@media only screen and (max-width: 991px) {
    body {
        background-color: #aaa;
    }
    h1 {
        color: blue;
    }
} 
