* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #c8f2f6;
    --nav-bg-color: rgba(3, 3, 3, 0.5);
    --nav-link-color: #f2f2f2;
    --nav-link-hover-bg-color: #ddd;
    --title-color: #fff;
    --title-text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
    }

header {
    background-image: url('1pic.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--main-color);
    padding-bottom: 700px;


}

.logo{
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    padding-left: 900px;
}

.icon{
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
}

.icon1{
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 8px;
}
.icon2{
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    top: 15px;
 
}

body {
    background-repeat: no-repeat, repeat;
    position: absolute;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-color);
}

.topnav {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: var(--nav-bg-color);
    padding-left: 100px;
}

.topnav a {
    float: left;
    color: var(--nav-link-color);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: var(--nav-link-hover-bg-color);
    color: black;
}

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 548px;
    height: 230px;
    line-height: 85px;
    text-align: center;
    color: var(--title-color);
    text-shadow: var(--title-text-shadow);
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

div h1 {
    font-style: italic;
    font-weight: lighter;
    font-size: 100px;
}



/* Main Section Styles */

 
section {
    position: relative;
    padding: 120px;
    border-bottom: 1px solid #ccc;
}

section div {
    position: relative;
    float: left;
    padding: 100px;
}

section div img {

    width: 400px;
    height: 400px;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    
}

section img {
    position: relative;
    width: 300px;
    height: 300px;
}

section h2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

section li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

section article {
    margin-bottom: 20px;
}

section article h3 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

section article p {
    font-size: 16px;
    line-height: 1.5;
}

section img {
    margin-right: 10px;
}
