* {
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

body {
    background-image: url('1pic.jpg');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    position: absolute;
}

ul {
    float: center;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

.main{
    position: absolute;
width: 128px;
height: 124px;
left: 576px;
top: 0px;
}

nav{
    position: absolute;
width: 1280px;
height: 52px;
left: 0px;
top: 128px;

background: rgba(0, 0, 0, 0.49);
}
