* {
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

body {
    background-image: url('1pic.jpg');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    position: absolute;
}

ul {
    float: center;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}


/*.logo img {
    float: center;
    width: 150px;
    height: auto;
}*/

.logo img {
    position: absolute;
    width: 128px;
    height: 124px;
    left: 576px;
    top: 0px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    width: 548px;
    height: 230px;
    left: 366px;
    top: 318px;
    font-family: 'Inter';
    font-style: thin italic;
    font-weight: 100;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.9);
}